{% extends 'admin_menu.html' %}
{% block content %}
{% load static %}



<div class="container p-5" style="background-color: rgba(80, 93, 108, 0.7); width: 900px; border-radius: 5px;">
    <h2 class="text-center p-2 mt-5 text-uppercase font-weight-bold mb-5" style="background-color : rgba(80, 93, 108); color: azure;"> 
        Patient Bill Details</h2>

    <table class="table table-striped" style="background-color: aliceblue;">

      <thead class = "mt-3 p-1" style="background-color: rgb(76, 68, 68); color:azure;">
        <tr>
          <th>BILL DATE</th>
          <th>BILL ID</th>
          <th>PATIENT ID</th>
          <th>PATIENT NAME</th>
          <th>PATIENT TYPE</th>
          <th>TOTAL</th>
          <th>ACTION</th>
        </tr>
      </thead>

      <tbody class="font-weight-bold">
      
        {% for p in ip %}
          <tr>
          
            <td>{{ p.bill_date}}</td>
            <td>{{ p.id}}</td>
            <td> {{ p.patient_id }}</td>
            <td style="text-transform: capitalize;">{{p.patient.first_name }} {{p.patient.last_name }}</td>
            {%if p.patient.patient_type == 1 %} <td>Inpatient</td> {% endif %}
            <td>{{ p.total }}</td>
            <td>
                <a href='/del_ipbill/{{ p.id }}'>DELETE</a></td>
          </tr>
          {% endfor %}
          {% for p in op %}
          <tr>
          
            <td>{{ p.bill_date}}</td>
            <td>{{ p.id}}</td>
            <td> {{ p.patient_id }}</td>
            <td style="text-transform: capitalize;"> {{p.patient.first_name }} {{p.patient.last_name }}</td>
            {%if p.patient.patient_type == 0 %} <td>Outpatient</td>{% endif %}
            <td>₹ {{ p.total }}</td>
            <td>
                <a href='/del_opbill/{{ p.id }}'>DELETE</a></td>
          </tr>
       {% endfor %}

      </tbody>
    </table>

    <a href="{% url 'add_opbill' %}" role="button" class="btn  text-align-center font-weight-bold mt-2" 
    style="width: 250px;  margin-left: 150px; background-color:rgba(80, 93, 108); color: aliceblue;"> 
    Add OutPatient Bill</a>
    <a href="{% url 'add_ipbill' %}" role="button" class="btn  text-align-center font-weight-bold mt-2" 
    style="width: 250px;  margin-left: 50px; background-color:rgba(80, 93, 108); color: aliceblue;"> 
    Add Inpatient Bill</a>
  
</div>

{% endblock%}