{% extends 'user_menu.html' %}
{% block content %}

<div class="container p-5" style="width: 800px;height: 700px; background-color: rgba(80, 93, 108, 0.7); border-radius: 5px;">

    <h2  class = 'text-center mb-3 p-1' style="margin-top: 100px; background-color:rgba(80, 93, 108);
                color: aliceblue;">
       Change Password</h2>
    
        <form action="{% url 'change_password' %}" method='post' >

        {% csrf_token %}            
          <input type="text" class="form-control mb-3 mt-5" name = 'old_pwd' placeholder="Old Password">

          <input type="text" class="form-control mb-3 mt-5" name = 'new_pwd' placeholder="New Password">
          <input type="text" class="form-control mb-3 mt-5" name = 'c_new_pwd' placeholder="Confirm New Password">
          <button type="submit" class="btn  text-align-center font-weight-bold  my-5" 
                  style="width: 200px;  margin-left: 250px; background-color:rgba(80, 93, 108); color: aliceblue;"> 
                  SAVE CHANGE</button>
        </form>
    </div>

{% endblock %}